/* Montserrat Black 900 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
	box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
	margin-left: 8.33%;
	margin-right: 8.33%;
	text-align: center;
	background-color: #292929;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
}

a {
	color: #FAC134;
}

[class*="col-"] {
  float: left;
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #121112;
  box-shadow: 1px 1px 6px 1px #0d0d0d;
}

img {
	max-width: 50%;
	max-height: auto;
}

#footer {
  font-size: x-small;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: medium;
  }

  img {
    max-width: 41.66%;
  }

  #developer-logo {
    max-width: 22%;
  }

	[class*="col-"] {
		border: none;
		margin-bottom: 0px;
    background-color: transparent;
    box-shadow: none;
	}

  #footer {
    font-size: small;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}